.fog .boxedItem {
    border: 3px solid #ccc;
    border-radius: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: calc(100% - 6px);
}

.fog > div {
    background: #263136;
}